<div id="pane">
  <ul id="pane-1" class="accordian startOpen">

	<li><a>Ans</a><span class="val"><%= @calc.ans %></span></li>
	<li><a>Variables</a>
	  <ul>
		<% ('a'..'z').each do |c| %>
		<% val = @calc.vars[c.to_sym].nil? ? "" : @calc.vars[c.to_sym] %>
		<li>
		  <%=link_to(c, var_path(c))%>
		  <span class="val" id="var-<%=c%>"><%= truncate(val.to_s, :length => 25) %></span>
		</li>
		<% end %>
	  </ul>
	</li>
	<li><a>Matrices</a>
	  <ul>
		<% ('A'..'Z').each do |c| %>
		<% mat = @calc.mats[c.to_sym].nil? ? "" : @calc.mats[c.to_sym] %>
		<li>
		  <%=link_to(c, mat_path(c))%>
		  <span class="val" id="mat-<%=c%>"><%= truncate(mat.to_s, :length => 25) %></span>
		</li>
		<% end %>
	  </ul>
	</li>
  </ul>

</div>
