<% if $error %>
$('#error').html("<em>Error Details</em><p><%= $error.to_s.gsub(/\n/, '<br />').html_safe %></p>");
$('#error').slideDown('normal');
<% $error = nil %>
<% else %>
$('#error').slideUp('normal');
<% end %>

$('#ans').html('<%= truncate(@calc.ans.to_s, :length => 12 ) %>');

answer = $('#answer-area');

answer.slideUp('normal');

<% if @final_expr %>
$('#answer-area').html("<%= display_step(@final_expr).html_safe %>");
<% end %>

$('.show-step').click(function(){
	
	if( $(this).html() == "Show Further Steps") {
		$(this).parent().next().next().slideDown('normal');
		$(this).parent().next().slideUp('normal');
		$(this).html("Hide Further Steps");
	} else {
		$(this).parent().next().next().slideUp('normal');
		$(this).parent().next().slideDown('normal');
		$(this).html("Show Further Steps");
	}
});

<% unless flash[:type] == "error" %>
answer.slideDown('normal');
<% end %>

flash = $('#flash');

flash.removeClass().addClass('<%= flash[:type] %>');
flash.html('<%= flash[:msg] %>');
flash.slideDown('normal');
