<% if $error %>
	$('#error').html("<em>Error Details</em><p><%= $error %></p>");
	$('#error').slideDown('normal');
	<% $error = nil %>
<% else %>
	
	$('#error').slideUp('normal');

<% end %>

$('#ans').html('<%= truncate(@calc.ans.to_s, :length => 12 ) %>');

answer = $('#answer-area');

answer.slideUp('normal');
$('#answer-area .answer.final').html('<pre><%= @calc.ans %></pre>');

<% unless flash[:type] == "error" %>
answer.slideDown('normal');
<% end %>

flash = $('#flash');

flash.removeClass().addClass('<%= flash[:type] %>');
flash.html('<%= flash[:msg] %>');
flash.slideDown('normal');
