<%= render "variable_pane" %>

<div id="flash"></div>

<div id="sym-edit">
	
<div id="top-bar">
	<span id="instructions">Currently Editing: <span id="sym-name"><%= @mat %></span></span>
	
	<%= form_tag(mat_path(@mat)) do %>	
		<span id="dimensions">
			Dimensions 
			<% options_x = (1..10).map { |n| "<option #{'selected=\'selected\'' if n==@d.x}>#{n}</option>" }.join("").html_safe %>
			<% options_y = (1..10).map { |n| "<option #{'selected=\'selected\'' if n==@d.y}>#{n}</option>" }.join("").html_safe %>
			<%= select_tag :dim_x, options_x %>
			<%= select_tag :dim_y, options_y %>
			<%= submit_tag "Confirm", :class => "button-confirm" %>
		</span>
	<% end %>
</div>
	
<%= form_tag(mat_path(@mat), :remote => true) do %>

	<%= hidden_field_tag :_dim_x, @d.x %>
	<%= hidden_field_tag :_dim_y, @d.y %>

	<br/>
	<table id="matrix-table">
	  <% @d.y.times do |j| %>
		<tr>
		  <% @d.x.times do |i| %>
			<td> <%= text_field_tag "val-#{i},#{j}",
								   	unparse_element(@mat_val ? @mat_val[i,j] : ""), 
									:class => "symbol-input",
								   	:id => "field-#{i}_#{j}"%>
			</td>
		  <% end %>
		</tr>
	  <% end %>
	</table>
	
	<div id="buttons">
	  <%= submit_tag( "Save", :class => "button-normal" ) %>
	  <%= submit_tag( "Clear", :class => "button-warn" ) %>
	  <%= link_to "Cancel", root_path, :class => "button-cancel" %>
	</div>
<% end %>

</div>
