<div id="test-question-buttons">
	<%=form_tag test_question_path do %>
	
	<%= hidden_field_tag "_topics", topics %>
	<%= hidden_field_tag "_type", type %>
	
	<%= submit_tag "Next", :class => "button-next" %>
	<%= link_to "Setup", test_setup_path, :class => "button-setup" %>
	<% end %>
</div>
